<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="WHEN,qianwen,jianghang">
    <meta name="content" content="四川大学.NET协会网页|四川大学.NET协会招新|.NET/PHP/Node.js/JavaScript/HTML/CSS">
    <title>SCUNET - 四川大学.NET协会</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/queries.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/css/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
      <body id="top">
        <header id="home">
          <nav>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <nav class="pull">
                    <ul class="top-nav">
                      <li><a href="#intro">Latest News | 最近动态 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#features">Department | 部门 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#responsive">Introduction | 简介 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#portfolio">Portfolio | 作品 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#team">Team | 团队 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#subscribe">JOIN US | 加入我们 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                      <li><a href="#contact">Get in Touch | 联系我们 <span class="indicator"><i class="fa fa-angle-right"></i></span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </nav>
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center inner">
                  <h1 class="animated fadeInDown">以梦为马,&nbsp;码<span>梦为生</span></h1>
                  <p class="animated fadeInUp delay-05s">四川大学.NET协会 四川大学最好的Web开发团队</p>
                  <p class="animated fadeInUp delay-05s">.NET/Java/PHP/Python/Node.js/JavaScript</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#subscribe" class="learn-more-btn">Join Us</a><br/>
                  <a href="#intro" class="down-arrow-a"><i class="fa fa-chevron-down"></i></a>
                </div>
              </div>
            </div>
          </section>
        </header>
         <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">四川大学.NET协会招新ING!</h1>
              </div>
            </div>
            <div class="row">
              <div class="intro-wrapper">
                <div id="introSlider">
                  <ul class="slides">
                    <li>
                      <div class="col-md-8 col-md-offset-2 wp1">
                        <p>厌倦了各大社交网络的博客模板，决定自己动手丰衣足食？想让自己的技术博客看上去不像是在裸奔？参与网站设计制作成为下一个扎克伯格？</p>
                        <p>来川大.NET协会，与志同道合的朋友一起学习网站设计之道，不再做信息时代的啃模板一族，你将会是朋友圈里最有品牌的先锋。</p>
                        <p>有想法，就不要等。</p>
                      </div>
                    </li>
                    <li>
                      <div class="col-md-8 col-md-offset-2 wp1">
                        <p>海报和PPT永远千篇一律被说毫无新意？不满足于静态想来点代码调剂生活？想提升自己的审美水准苦于面对千万信息毫无头绪？</p>
                        <p>通过设计工作室的学习和研究，你将是焕然一新的生活，工作设计师！通过与WEB设计者联盟大牛的深入交流，你将能把心中所想用代码实现。</p>
                        <p>有热情，就不要停。</p>
                      </div>
                    </li>
                    <li>
                      <div class="col-md-8 col-md-offset-2 wp1">
                        <p>想扩大朋友圈认识已经创业，工作和保研的学长学姐？想充电时参加大牛的讲座提升属性技能？想周末和小伙伴去图书馆自习，打桌游聚餐唱K？</p>
                        <p>在川大.NET，你的生活将不止充实一点。用自己的设计之心和无限热情以及一个会员注册，上面的所有愿望即可通通实现。</p>
                        <p>有希望，就是现在。</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="features text-center section-padding" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Love what you do, and you'll do it well</h1>
                <div class="features-wrapper">
                  <div class="col-md-4 wp2">
                    <div class="icon">
                      <i class="fa fa-laptop shadow"></i>
                    </div>
                    <h2>设计工作室</h2>
                    <p>主要负责各网站项目的版面及各种相关的设计和对团队品牌规划等。</p>
                  </div>
                  <div class="col-md-4 wp2 delay-05s">
                    <div class="icon">
                      <i class="fa fa-code shadow"></i>
                    </div>
                    <h2>技术部</h2>
                    <p>主要负责组织课题研究和项目开发，给社团活动提供技术支持。</p>
                  </div>
                  <div class="col-md-4 wp2 delay-1s">
                    <div class="icon">
                      <i class="fa fa-heart shadow"></i>
                    </div>
                    <h2>管理部</h2>
                    <p>统管社团事务，协调社团内外各种关系、营造社团文化、管理社员资料、安排日常活动、及审核各部门工作等。</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="text-center" id="responsive">
          <div class="container-fluid nopadding responsive-services">
            <div class="wrapper">
              <div class="iphone">
                <div class="wp3"></div>
              </div>
              <div class="fluid-white"></div>
            </div>
            <div class="container designs">
              <div class="row">
                <div class="col-md-5 col-md-offset-7">
                  <div id="servicesSlider">
                    <ul class="slides">
                      <li>
                        <h1 class="arrow">四川大学.NET协会</h1>
                        <p>.NET 协会是一个社团，更是一个团队。 </p>
                        <p>我们做WEB开发，但不局限于此。</p>
                        <p>平台化策略为上，程序不限于语言，数据不限于应用，逻辑不限于需求。</p>
                      </li>
                      <li class="code-area">
                        <h1 class="arrow">SCUNET</h1>
                        <p><em class="code">//让未来，萦绕在你的指间</em></p>
                        <p><b class="code">for ( you : scunet)</b></p>
                        <p><b class="code">{</b></p>
                        <p><b class="code">&nbsp;&nbsp;&nbsp;&nbsp;getTheWorld();</b></p>
                        <p><b class="code">}</b></p>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1> <span class="tips-margin">我们来晚了 </span><em class="tips-small">但</em> 我们终于来了</h1>
                <a href="#portfolio" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio text-center section-padding" id="portfolio">
          <div class="container">
            <div class="row">
              <div id="portfolioSlider">
                <ul class="slides">
                  <li>
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="/img/portfolio-01.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>scunet.cn</h2>
                      <p>四川大学.NET协会官方网站，采用HTML5的响应式设计网站，自适应所有不同尺寸的屏幕</p>
                    </div>
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="/img/portfolio-02.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>BLOG</h2>
                      <p>四川大学.NET协会的技术博客。旨在为全川大同学提供一个技术交流的平台。</p>
                    </div>
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="/img/portfolio-03.jpg" alt="Portfolio Item">
                          <div class="overlay">
                            <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                            <a class="close-overlay hidden">x</a>
                          </div>
                        </div>
                      </div>
                      <h2>coming soon...</h2>
                      <p>coming soon...</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div class="ignite-cta text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <a href="#" target="_black" class="ignite-btn">We Want You</a>
              </div>
            </div>
          </div>
        </div>
        <section class="team text-center section-padding" id="team">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">We are a team that adore what we do</h1>
              </div>
            </div>
            <div class="row">
              <div class="team-wrapper">
                <div id="teamSlider">
                  <ul class="slides">
                    <li>
                      <div class="col-md-4 wp5">
                        <img src="/img/team-01.png" alt="Team Member">
                        <h2>蒋航</h2>
                        <p>现任会长, 年级未知</p>
                        <p>「全栈」</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" target="_black" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="/img/team-02.png" alt="Team Member">
                        <h2>朱能军</h2>
                        <p>荣誉会长, 上海交通大学研究生</p>
                        <p>「后端」</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="/img/team-03.png" alt="Team Member">
                        <h2>王奇峰</h2>
                        <p>荣誉会长, 浙江大学研究生</p>
                        <p>「设计」</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      
                    </li>
                    <li>
                      <div class="col-md-4 wp5">
                        <img src="/img/team-04.png" alt="Team Member">
                        <h2>王婷</h2>
                        <p>副会长, 2014级计算机学院</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5 delay-1s">
                        <img src="/img/team-05.png" alt="Team Member">
                        <h2>闫磊</h2>
                        <p>副会长, 2014级化学学院</p>
                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 wp5 delay-05s">
                        <img src="/img/team-00.png" alt="Team Member">
                        <h2>YOU</h2>
                        <p>We Want You ！下一个就是你 ！</p>

                        <div class="social">
                          <ul class="social-buttons">
                            <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="subscribe text-center" id="subscribe">
          <div class="container">
            <h1><i class="fa fa-user"></i><span>填写报名表</span></h1>
            <form action="#">
              <input type="text" class="info" id="name" placeholder="请填写您的姓名" required>
              </br>
              <select id="gender" name="gender">
                <option value="0">请选择您的性别</option>
                <option value="软件学院">男</option>
                <option value="女">女</option>
              </select>
              </br>
              <select id="college" name="college">
                <option value="0">请选择您的学院</option>
                <option value="软件学院">软件学院</option>
                <option value="计算机学院">计算机学院</option>
                <option value="电子信息学院">电子信息学院</option>
                <option value="电气信息学院">电气信息学院</option>
                <option value="数学学院与经济学院">数学学院与经济学院</option>
                <option value="空天科学与工程学院">空天科学与工程学院</option>
                <option value="高分子科学与工程学院">高分子科学与工程学院</option>
                <option value="材料科学与工程学院">材料科学与工程学院</option>
                <option value="制造科学与工程学院">制造科学与工程学院</option>
                <option value="建筑与环境学院">建筑与环境学院</option>
                <option value="水利水电学院">水利水电学院</option>
                <option value="化学工程学院">化学工程学院</option>
                <option value="轻纺与食品学院">轻纺与食品学院</option>
                <option value="法学院">法学院</option>
                <option value="艺术学院">艺术学院</option>
                <option value="经济学院">经济学院</option>
                <option value="文学与新闻学院">文学与新闻学院</option>
                <option value="外国语学院">外国语学院</option>
                <option value="历史文化学院（旅游学院）">历史文化学院（旅游学院）</option>
                <option value="马克思主义学院（政治学院）">马克思主义学院（政治学院）</option>
                <option value="数学学院">数学学院</option>
                <option value="物理科学与技术学院（核科学与工程技术学院）">物理科学与技术学院（核科学与工程技术学院）</option>
                <option value="化学学院">化学学院</option>
                <option value="生命科学学院">生命科学学院</option>
                <option value="灾后重建与管理学院">灾后重建与管理学院</option>
                <option value="公共管理学院">公共管理学院</option>
                <option value="商学院">商学院</option>
                <option value="华西基础医学与法医学院">华西基础医学与法医学院</option>
                <option value="华西临床医学院">华西临床医学院</option>
                <option value="华西口腔医学院">华西口腔医学院</option>
                <option value="华西公共卫生学院">华西公共卫生学院</option>
                <option value="华西药学院">华西药学院</option>
                <option value="华西动物中心">华西动物中心</option>
                <option value="联合班">联合班</option>
                <option value="联合吴玉章学院班">联合吴玉章学院班</option>
                <option value="研究生院">研究生院</option>
                <option value="体育学院">体育学院</option>
                <option value="其它">其它</option>
              </select>
              </br>
              <input type="text" id="phone" name="" value="" placeholder="请填写您的手机号" required>
              </br>
              <input type="text" class="sms" id="sms" name="" value="" placeholder="请填写验证码" required>
              <input type="button" class="send_sms" id="send_sms" name="" value="获取验证码">
              </br>
              <button type="button" class="send" id="send">提交</button>
            </form>
          </div>
        </section>
        <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Drop us a line</h1>
              </div>
            </div>
            <div class="row contact-details">
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                  <p>四川大学江安校区</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-user"></i><span>QQ群</span></h2>
                  <p>8920 8600</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="mailto:scunet@163.com">scunet@163.com</a></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-user"></i></a></li>
                  <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  
                </ul>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#">Copyright &copy; 2016</a></li>
                  <li><a href="#">四川大学.NET协会</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="/js/jquery.1.8.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="/js/waypoints.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jquery.flexslider.js"></script>
        <script type="text/javascript" src="/js/modernizr.js"></script>
        <script type="text/javascript" src="/js/sweetalert.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>
      </body>
    </html>